################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dji.Dissector/bin/Debug/net5.0
/Dji.Dissector/obj
/Dji.Network/bin
/Dji.Network/obj
/Dji.Network.Packet/bin
/Dji.Network.Packet/obj
/Dji.UI/bin
/Dji.UI/obj
/Dji.UI/x64
/Dji.Camera/bin/Debug/net5.0
/Dji.Camera/obj/Debug/net5.0/Avalonia/original.dll
/Dji.Camera/obj
