################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dji.Dissector/bin/Debug/net5.0
/Dji.Dissector/obj
/Dji.Network/bin
/Dji.Network/obj
/Dji.Network.Packet/bin
/Dji.Network.Packet/obj
/Dji.UI/bin
/Dji.UI/obj